/* Tutorial Code Styling */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #83a77a; /* written by me */
  color: hsl(129, 26%, 15%); /* written by me */
  padding: 1rem;
  margin: 0 auto;
}

.new-book-form {
  max-width: 40%; /* written by me */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto; /* written by me */
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

/* code below edited by me */
.btn {
  background: #efee9f;
  border: 1px solid hsl(129, 26%, 15%);
  color: hsl(129, 26%, 15%);
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
}

.btn:hover,
.btn:focus-visible {
  background: hsl(56, 86%, 64%);
}

.btn.btn-delete {
  margin-top: 0;
  background: hsla(0, 0%, 93%, 0.4);
  border: 1px solid hsl(0, 0%, 17%);
  color: hsl(0, 0%, 17%);
}

.btn.btn-delete:hover,
.btn.btn-delete:focus-visible {
  background: hsla(0, 0%, 53%, 0.465);
}

.new-book-form input {
  outline: none;
  border: 1px solid hsl(107, 38%, 21%);
  background: hsl(120, 48%, 78%);
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  color: hsl(118, 100%, 7%);
}

.new-book-form input:focus {
  border: 1px solid hsl(108, 100%, 17%);
}

#paperList {
  max-width: 60%;
  margin: 20px auto auto auto;
  padding: 30px;
  background-color: #efee9f;
  border-radius: 20px;
}
/* ^^^^^^ */

input[type="range"] {
  accent-color: #efee9f;
}


.header {
  font-size: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.list {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  list-style: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list li label {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  align-items: center;
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}


/* written by me */
.list li:has(input:focus-visible) label {
  outline: 1px solid hsl(118, 100%, 50%);
}

p {
  font-size: 10px;
  color: #d4d39d;
  text-align: center;
  margin: 100px auto auto auto;
}

a {
  color: #c5c379;
}
/* ^^^^^^^^^^ */


